name: Generate coverage report
on:
  pull_request:
    branches:
      - "master"
  push:
      branches:
      - "master"

jobs:
  build:
    runs-on: [self-hosted, linux]
    strategy:
      fail-fast: false
      matrix:
        rosdistro: ['noetic']
        gcc: ['10']
        cxx: ['17']
    container:
      image: omavteam/ubuntu-omav-ros:ros-noetic-ros-base
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
        name: Checkout lpp
        with:
          repository: ethz-asl/lpp
          token: ${{ secrets.PAT }}
          path: catkin_ws/src/lpp

      - name: Install gcovr
        run: sudo apt update && sudo apt install -y gcovr

      - name: Build lpp
        run: source /opt/ros/${{ matrix.rosdistro }}/setup.bash && mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE="Debug" -DENABLE_COVERAGE=1 -DLPP_BUILD_TESTS=1 && make
        working-directory: catkin_ws/src/lpp
        shell: bash

      - name: Run unittests
        run: source /opt/ros/${{ matrix.rosdistro }}/setup.bash && ./test_default && ./test_glog && ./test_lpp && ./test_lpp_custom && ./test_nolog && ./test_roslog
        working-directory: catkin_ws/src/lpp/build/devel/lib/lpp
        shell: bash

      - name: Print coverage
        run: gcovr
        working-directory: catkin_ws/src/lpp



