name: Coverage report
on:
  push:
    branches:
      - "master"
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy coverage report
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    runs-on: [self-hosted, linux, x64]
    strategy:
      fail-fast: false
      matrix:
        rosdistro: ['noetic']
        gcc: ['10']
        cxx: ['17']
    container:
      image: omavteam/ubuntu-omav-ros:ros-noetic-ros-base
      credentials:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    steps:
      - uses: actions/checkout@v3
        name: Checkout lpp
        with:
          repository: ethz-asl/lpp
          path: catkin_ws/src/lpp

      - name: Install gcovr
        run: sudo apt update && sudo apt install -y gcovr

      - name: Build lpp
        run: source /opt/ros/${{ matrix.rosdistro }}/setup.bash && mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE="Debug" -DENABLE_COVERAGE=1 -DLPP_BUILD_TESTS=1 && make
        working-directory: catkin_ws/src/lpp
        shell: bash

      - name: Run unittests
        run: source /opt/ros/${{ matrix.rosdistro }}/setup.bash && ./test_default && ./test_glog && ./test_lpp && ./test_lpp_custom && ./test_nolog && ./test_roslog
        working-directory: catkin_ws/src/lpp/build/devel/lib/lpp
        shell: bash

      - name: Generate coverage report
        run: make coverage
        working-directory: catkin_ws/src/lpp/build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./catkin_ws/src/lpp/build/coverage

      - name: Deploy to Github pages
        uses: actions/deploy-pages@v4
        id: deployment



